<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSMC5735 Project: Mining on Yelp Reviews</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="{{ url_for('static', filename='js/morris/morris-0.4.3.min.css') }}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Mining on Yelp</a>
            </div>
        </nav>
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
					<li class="text-center">
					</li>
						<br/> <br/>
                    <li>
                        <a class="active-menu" href="/dashboard"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
					<li>
						<a href="search/"><i class"fa fa-search fa-3x"></i> Popular in Yelp </a>
					</li>
                    <li>
                        <a href="#"><i class="fa fa-desktop fa-3x"></i> User Behavior Analysis</a>
                    </li>
                    <li>
                        <a href='/usersummary'><i class="fa fa-desktop fa-3x"></i> User Summary</a>
                    </li>
                    <li>
                        <a href='/cityplot'><i class="fa fa-desktop fa-3x"></i> City Map Plot</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table fa-3x"></i> Statistics</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Dashboard</h2>
                    </div>
                </div>
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
							<div class="panel-heading">
							   Spark Cluster Connection Status
							</div>
              <img src="data:image/png;base64, {{ plot_url |escape }}" style="width:1000px;height:400px;">

              <!-- <div class="panel-body">
								<span class="label label-success">Success</span>
								<p>Top Categories</p>
                <p>
                  <img src="data:image/png;base64, {{ plot_url |escape }}" style="width:1000px;height:400px;">

                  <img src="/static/img/phe.png" alt="phe" style="width:500px;height:600px;"> -->
                </p>
                <!-- <p>
                  <img src="/static/img/edin.png" alt="edin" style="width:500px;height:600px;">
                  <img src="/static/img/stu.png" alt="stu" style="width:500px;height:600px;">
                </p> -->

							</div> -->
							<div class="panel-body">
								<span class="label label-success">Success</span>
								<p>Summary of famous cities</p>
                <img src="/static/img/topCity.png" height="256" width="718">

                <!-- Added -->
                <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                <div class="panel-heading">
                 City Summary
                </div>
                <div class="panel-body">
                <button id="CitySummaryBtn">Run</button>
                <div id="CitySummaryChart"></div>

                </div>

                <div class="panel-body">
                  <div class="col-md-12 col-sm-12 col-xs-12">

<!-- City Name input -->
                <form id="userQueryForm" role="form">
                <div class="form-group">
                <label>City Name</label>
                      <input class="form-control" type="text" name="userId" />

                </div>
                <button id="submitBtn" type="submit" class="btn btn-default">Submit Button</button>

                </form>
                </div>

                <button id="oneCityBtn">Run</button>
                <div id="oneCityChart"></div>

                </div>

                </div>
                </div>
                </div>

                <table>
                  <tr>
                    <th style="color:red">City</th>
                    <th style="color:red">Name</th>
                    <th style="color:red">Review Count</th>
                  </tr>
								{% for c in city%}
                <tr>
                <td>{{c.city}}</td>
                <td>{{c.name | escape }}</td>
                <td>{{c.review_count}}</td>
                </tr>

                {% endfor %}
              </table>
							</div>
						</div>
					</div>
				</div>
                 <!-- /. ROW  -->
                <hr />
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">

						<div class="panel panel-default">
							<div class="panel-heading">
							   Spark Tables Information
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table id="yelpTableInformation" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>Table Name</th>
												<th>Number of Records</th>
												<th>Number of Columns</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dataTables/jquery.dataTables.js') }}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{ url_for('static', filename='js/jquery.metisMenu.js') }}"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="{{ url_for('static', filename='js/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/morris/morris.js') }}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <!-- SCRIPTS ON PAGE -->
	<script  type="text/javascript">
		$.ajax({
			url: "/ajax_data?dataName=yelpTableInformation",
			success : function(data) {
				var json_list = JSON.parse(data);

				$('#yelpTableInformation').dataTable( {
					data : json_list,
					columns: [
						{"data" : "table_name"},
						{"data" : "num_of_record"},
						{"data" : "num_of_col"}
					],
				});
			}
		});

	</script>
  <script  type="text/javascript">
  $("#oneCityBtn").click(function(){
    $.ajax({
      type: "GET",
      url: "/ajax_data?dataName=oneCity",
      success: function(data)
      {
        var json_list = JSON.parse(data);
        Morris.Bar({
          element: 'oneCityChart',
          data: json_list,
          xkey: 'x',
          ykeys: ['y'],
          labels: ['One City'],
          hideHover: 'auto',
          resize: true,
          axes: true
        });
      }
     });
  });
  function updateOneCityChart() {
  $.ajax({
    type: "POST",
    url: "/ajax_data?dataName=oneCity",
    data: $("#userQueryForm").serialize(), // serializes the form's elements.
    success: function(data)
    {
      $("#submitBtn").prop("disabled", false);
      var json_list = JSON.parse(data);
      Morris.Bar({
        element: 'oneCityChart',
        data: json_list,
        xkey: 'x',
        ykeys: ['y'],
        labels: ['One City'],
        hideHover: 'auto',
        resize: true,
        axes: true
      });
    }
   });
}
  $("#userQueryForm").submit(function(e) {
    $("#submitBtn").prop("disabled", true);
    updateOneCityChart();
    e.preventDefault(); // avoid to execute the actual submit of the form.
  });
</script>
  <script  type="text/javascript">
  $("#CitySummaryBtn").click(function(){
    $.ajax({
      type: "GET",
      url: "/ajax_data?dataName=CitySummary",
      success: function(data)
      {
        var json_list = JSON.parse(data);
        Morris.Bar({
          element: 'CitySummaryChart',
          data: json_list,
          xkey: 'x',
          ykeys: ['y'],
          labels: ['Famous City'],
          hideHover: 'auto',
          resize: true,
          axes: true
        });
      }
     });
  });

</script>

</body>
</html>
