<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSMC5735 Project: Mining on Yelp Reviews</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="{{ url_for('static', filename='js/morris/morris-0.4.3.min.css') }}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Mining on Yelp</a>
            </div>
        </nav>
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
					<li class="text-center">
					</li>
						<br/> <br/>
                    <li>
                        <a class="active-menu" href="/dashboard"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
					<li>
						<a href="search/"><i class"fa fa-search fa-3x"></i> Popular in Yelp </a>
					</li>
                    <li>
                        <a href="#"><i class="fa fa-desktop fa-3x"></i> User Behavior Analysis</a>
                    </li>
                    <li>
                        <a href='/usersummary'><i class="fa fa-desktop fa-3x"></i> User Summary</a>
                    </li>
                    <li>
                        <a href='/city'><i class="fa fa-desktop fa-3x"></i> City Summary</a>
                    </li>
                    <li>
                        <a href='/cityplot'><i class="fa fa-desktop fa-3x"></i> City Map Plot</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table fa-3x"></i> Statistics</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Dashboard</h2>
                    </div>
                </div>
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
							<div class="panel-heading">
							   Spark Cluster Connection Status
							</div>

							<div class="panel-body">
								<span class="label label-success">Success</span>
								<!-- <p>Summary of famous cities</p>
                <img src="/static/img/topCity.png" height="256" width="718"> -->

                <!-- Added -->
                <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                <div class="panel-heading">
                 User Summary
                </div>
                <div class="panel-body">
                <button id="UserSummaryBtn">Run</button>
                <div id="UserSummaryChart"></div>

                </div>
                </div>
                </div>
                </div>

              <img src="/static/img/stars_rating.png" height="256" width="718">
              <table width="550">
                <tr>
                  <th style="color:red">Name</th>
                  <th style="color:red">Review_count</th>
                  <th style="color:red">Since</th>
                  <th style="color:red">Useful</th>
                  <th style="color:red">Average Stars</th>
                </tr>
                {% for u in user%}
                <tr>
                <td>{{u.name | escape }}</td>
                <td>{{u.review_count}}</td>
                <td>{{u.yelping_since}}</td>
                <td>{{u.useful}}</td>
                <td>{{u.average_stars}}</td>
                </tr>
                {% endfor %}
              </table>


							</div>
						</div>
					</div>
				</div>
                 <!-- /. ROW  -->
                <hr />
                <div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">

						<div class="panel panel-default">
							<div class="panel-heading">
							   Spark Tables Information
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table id="yelpTableInformation" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>Table Name</th>
												<th>Number of Records</th>
												<th>Number of Columns</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dataTables/jquery.dataTables.js') }}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{ url_for('static', filename='js/jquery.metisMenu.js') }}"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="{{ url_for('static', filename='js/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/morris/morris.js') }}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <!-- SCRIPTS ON PAGE -->
	<script  type="text/javascript">
		$.ajax({
			url: "/ajax_data?dataName=yelpTableInformation",
			success : function(data) {
				var json_list = JSON.parse(data);

				$('#yelpTableInformation').dataTable( {
					data : json_list,
					columns: [
						{"data" : "table_name"},
						{"data" : "num_of_record"},
						{"data" : "num_of_col"}
					],
				});
			}
		});

		/*
			$('#yelpTableInformation').DataTable( {
				"ajax": "/ajax_data?dataName=yelpTableInformation",
				"dataSrc" : function (json) {
					// manipulate your data (json)
					console.log(json);

					// return the data that DataTables is to use to draw the table
					return json.data;
				},
				"columns": [
                    { "data": "table_name" },
                    { "data": "num_of_record" },
                    { "data": "num_of_col" },
                    ]
			} );
		*/
	</script>
  <script  type="text/javascript">
  $("#UserSummaryBtn").click(function(){
    $.ajax({
      type: "GET",
      url: "/ajax_data?dataName=UserSummary",
      success: function(data)
      {
        var json_list = JSON.parse(data);
        Morris.Bar({
          element: 'UserSummaryChart',
          data: json_list,
          xkey: 'x',
          ykeys: ['y'],
          labels: ['Famous User'],
          hideHover: 'auto',
          resize: true,
          axes: true
          /*
          barColors: function (row, series, type) {
            var color_list= ['#ff3333', '#ff7733', '#ffff33', '#47d147', '#33ffff', '#0066ff', '#cc0099'];
            console.log(series);
            console.log(series.index);
            console.log(color_list[0]);
            console.log(color_list[series.index % 7]);
            return color_list[Math.floor((Math.random() * 7))];
          }
          */
        });
      }
     });
  });

</script>

</body>
</html>
